*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    font-family:'Fredoka', sans-seri;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color:#E53170;
    margin-top: 40px;

}
main{
    margin: auto;
    width:70%;
    padding:20px;
}
p{
    text-align:center;
}
.prima-riga img{
    float: left;
    width:77px;
    height:77px;
    margin-right:10px;
}
.prima-riga{
    color:white;
    background-color:black;
    float: left;
    width: 300px;
    height: 80px;
    margin: 20px;
    margin-top: 40px;
    border-style: outset;
    border-color: rgb(0, 0, 0);
}
.seconda-riga img{
    float: left;
    width:77px;
    height:77px;
    margin-right:10px;
    
}
.seconda-riga{
    color:white;
    background-color:black;
    float: left;
    width: 300px;
    height: 80px;
    margin: 20px;
    margin-top: 20px;
    border-style: outset;
    border-color: rgb(0, 0, 0);
    }
.email{
    color: #56b8c5;
}
.clearfix::after{
content:0;
display: table;
clear: both;
}